<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Munu para móvil -->
    <div id="hamburger" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Menu lateral -->
    <div id="lateral" class="lateral">
        <h2>CONSTRUCT <br> ZAF</h2>
        <ul id="menu">
            <li class="active"><img src="../../imagenes/hogar.png"><a href="../../admin/home/index.html">Inicio</a></li>
            <li><img src="../../imagenes/perfil.png"><a href="../../admin/users/index.html">Usuarios</a></li>
            <li><img src="../../imagenes/acuerdo.png"><a href="../../admin/rental/index.html">Alquileres</a></li>
            <li><img src="../../imagenes/listas-de-control.png"><a href="../../admin/payments/index.html">Pagos</a></li>
            <li><img src="../../imagenes/diagrama.png"><a href="../../admin/reports/index.html">Reportes</a></li>
        </ul>
    </div>

    <!-- Contenido  -->
    <div class="content">
        <div class="superior">
            <h1 id="tituloSuper">Panel de Control</h1>
            <p><img src="../../imagenes/usuario (1).png" id="user"> Administrador</p>
        </div> 
        <div class="dashboard">
            <!-- usurios -->
            <div class="card">
                <h3>Usuarios Registrados</h3>
                <p class="number"><strong>100</strong></p>
                <p>Proveedores <strong>40</strong></p>
                <p>Clientes <strong>40</strong></p>
                <button><a href="../../admin/users/index.html">Ir a gestion de usuarios</a></button>
            </div>

            <!-- pagos -->
            <div class="card">
                <h3>Pagos y facturacion</h3>
                <p>Total facturado este mes <strong>50,000</strong></p>
                <p>Pagos pendientes <strong>60</strong></p>
                <button><a href="../../admin/payments/index.html">Ver detalles de pagos</a></button>
            </div>

            <!-- Alquileres -->
            <div class="card">
                <h3>Alquileres y estados de herramientas</h3>
                <p><strong>20 </strong> Alquileres activos</p>
                <p><strong>5 </strong> Devoluciones pendientes </p>
                <p><strong>3 </strong> Herramientas dañadas </p>
                <button><a href="../../admin/rental/index.html">Ver hitorial de alquileres</a></button>
            </div>

            <!-- Graficos -->

            <div class="card chart">
                <h3>Estadisticas</h3>
                <div class="bar-chart">
                    <div style="height: 30%;" title="Bajo"></div>
                    <div style="height: 50%;" title="Medio"></div>
                    <div style="height: 65%;" title="Más alto"></div>
                    <div style="height: 80%;" title="Alto"></div>
                    <div style="height: 90%;" title="Muy alto"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>