@font-face {
    font-family: bold;
    src: url(../../fuentes/PTSans-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(../../fuentes/PTSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
}

/*Menu lateral */

.lateral{
    font-family: regular;
    width: 220px;
    background-color: #17324D;
    color: white;
    position: fixed;
    height: 100vh;
    transition: transform 0.3s ease;
    z-index: 1000;
    padding-top: 20px;
}

.lateral h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: bold;
}

.lateral ul{
    list-style: none;
}

.lateral ul li{
    padding: 15px 25px;
    cursor: pointer;
}

.lateral ul li a{
    text-decoration: none;
    color: white;
    margin-left: 2vw;
}

li img{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 1vw;
}

.lateral ul li.active,
.lateral ul li:hover{
    background-color: #385879;
    border-left: 4px solid #F5BA49;
    height: 8vh;
}

/* Boton hamburguesa*/

.hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    top: 15px;
    left: 15px;
    z-index: 1100;
    cursor: pointer;
}

.hamburger span{
    height: 4px;
    background-color: #17324D;
    border-radius: 2px;
}

/*-------------------------------------------------------------*/
/*Contenido*/

.content-repor{
    margin-left: 17vw;
    margin-top: 1vw;
}

/* Encabezado */
.superior{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.superior img{
    width: 1.3vw;
}

img#user{
    margin-right: 5px;
}

/*Buscador*/

img#busca-repor{
    height: 2vw;
    width: 2vw;
}
.buscador{
    display: flex;
    gap: 10px;
}

input.buscar-repor{
    border-radius: 20px;
    padding: 6px 30px;
    color: #606F81;
}

.title-repor{
    font-family: bold;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: #17324D;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#mensaje {
    margin-top: 20px;
    color: red;
}
@media (max-width: 768px){
    .lateral{
        transform: translateX(-100%);
    }

    .lateral.open{
        transform: translateX(0);
    }

    .hamburger{
        display: flex;
    }

    .content{
        margin-left: 0;
        padding-top: 60px;
    }
}