<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="main">
        <div id="left">
            <div id="imageLogo">
                <img id="casco" src="img/casco-de-seguridad.png" >
            </div>
            <div id="nameLogo">Construct <br> ZAF</div>
            <div id="imgWeb">
                <img id="construccion" src="img/construccion.png">
            </div>
        </div>
        <div id="right">
            <div id="titleLogin">Iniciar Sesión</div>
            <div id="input1">
                <img src="img/usuario (1).png" class="icon">
                <input type="text" placeholder="Nombre de usuario" />
            </div>
            <div id="input1">
                <img src="img/bloquear.png" class="icon">
                <input type="password" placeholder="Contraseña">
            </div>
            <button type="submit" id="botonI" onclick="login()">Iniciar Sesión</button>
            <p>¿No tienes una cuenta? <a href="/Sign/index.html"><span>Registrarse</span></a></p>
        </div>
    </div>
</body>
<script src="./script.js"></script>
</html>