@font-face {
    font-family: bold;
    src: url(../../fuentes/PTSans-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(../../fuentes/PTSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
}

/*Menu lateral */

.lateral{
    font-family: regular;
    width: 220px;
    background-color: #17324D;
    color: white;
    position: fixed;
    height: 100vh;
    transition: transform 0.3s ease;
    z-index: 1000;
    padding-top: 20px;
}

.lateral h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: bold;
}

.lateral ul{
    list-style: none;
}

.lateral ul li{
    padding: 15px 25px;
    cursor: pointer;
}

.lateral ul li a{
    text-decoration: none;
    color: white;
    margin-left: 2vw;
}

li img{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 1vw;
}

.lateral ul li.active,
.lateral ul li:hover{
    background-color: #385879;
    border-left: 4px solid #F5BA49;
    height: 8vh;
}

/* Boton hamburguesa*/

.hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    top: 15px;
    left: 15px;
    z-index: 1100;
    cursor: pointer;
}

.hamburger span{
    height: 4px;
    background-color: #17324D;
    border-radius: 2px;
}

/*Contenido */

.content-alqui{
    margin-left: 17vw;
    margin-top: 1vw;
}
.superior{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.superior img{
    width: 1.3vw;
}

img#user{
    margin-right: 5px;
}

/*Buscador*/

img#busca-alqui{
    height: 2vw;
    width: 2vw;
}
.buscador{
    display: flex;
    gap: 10px;
}

input.buscar-alqui{
    border-radius: 20px;
    padding: 6px 30px;
    color: #606F81;
}

.title-alqui{
    font-family: bold;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: #17324D;
}

h3{
    font-family: bold;
}

p{
    font-family: regular;
}

/*Tarjetas de la informacion en general */
.info-alqui{
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
}

.cards{
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cards h3{
    margin-bottom: 15px;
    color: #1f2f46;
}

/*Tabla de contenido*/
.table-container-alqui{
    width: 100%;
    padding: 20px;
}

table{
    font-family: regular;
    width: 95%;
    border-collapse: collapse;
    background-color: #F4F5FB;
}

th,td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.btn-actions-alqui{
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-edit-alqui,
.btn-delete-alqui,
.btn-crear-alqui{
    background-color: #f8b231;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-family: regular;
}

/*PopUp*/

h2#titulo{
    color: #17324D;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5vw;
    font-family: bold;
}
.popupAlqui{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);/*Color de fondo cuando aparezca el popup*/
}

.alqui-conten{
    background: #e1e3e6;
    padding: 25px;
    width: 410px;
    margin: 10% auto;
    border-radius: 15px;
    position: relative;
}
.alqui-conten form input{
    width: 30%;
    padding: 5px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.botonesAlqui{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.btn-gris{
    color: #17324D;
    background-color: #f8b231;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn-amarillo{
    color: #17324D;
    background-color: #f8b231;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 25px;
}

.cerrar{
    position: absolute;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

@media (max-width: 768px){
    .lateral{
        transform: translateX(-100%);
    }

    .lateral.open{
        transform: translateX(0);
    }

    .hamburger{
        display: flex;
    }

    .content{
        margin-left: 0;
        padding-top: 60px;
    }

    /*Tabla de contenido*/
    .table-container-alqui{
        max-width: 400px;
        overflow-y: auto;
        overflow-x: auto;
    }

    /*Cartas*/
    .info-alqui{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px) {
    .info-alqui{
        grid-template-columns: 1fr;
    }
}