<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!-- Menu para móvil -->
    <div id="hamburger" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Menu lateral -->
    <div id="lateral" class="lateral">
        <h2>CONSTRUCT <br> ZAF</h2>
        <ul id="menu">
            <li class="active"><img src="../../imagenes/hogar.png"><a href="../explorar/index.html">Explorar</a></li>
            <li><img src="../../imagenes/perfil.png"><a href="../reservas/index.html">Reservas</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="superior">
            <h1 id="tituloSuper">Catálogo</h1>
            <p><img src="../../imagenes/usuario (1).png" id="user"> Cliente</p>
        </div> 
        <div id="dashboard"></div>
    </div>

    <!-- PopUp ver detalles -->
    <div class="popup" id="detallesPopup">
        <span class="cerrar" onclick="cerrarPopup('detallesPopup')">&times;</span>
        <div class="popup-contenido">
        </div>
    </div>

    <!-- PopUp reserva -->
    <div class="popups" id="reservaPopup">
        <div class="popups-contenido">
            <span class="cerrars" onclick="cerrarPopup('reservaPopup')">&times;</span>
            <h3>Reservación</h3><br>
            <form id="form-crear-reserva"></form>
                <div class="form-row">
                    <div class="form-group">
                        <label for="username">Nombre de Herramienta</label>
                        <input type="text" id="nombre-herramienta" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="username">Nombre de Usuario</label>
                        <input type="text" id="nombre-usuario" placeholder="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="username">Fecha de reserva</label>
                        <input type="text" id="fecha" placeholder="aaaa/mm/dd">
                    </div>
                    <div class="form-group">
                        <label for="username">Estado de devolución</label>
                        <select name="Estado" id="estado-dev">
                            <option value="">Selecciona un estado</option>
                            <option value="pendiente">Pendiente</option>
                            <option value="activa">Activa</option>
                            <option value="finalizada">Finalizada</option>
                            <option value="cancelada">Cancelada</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="username">Fecha de devolución</label>
                        <input type="text" id="fecha-devolucion" placeholder="aaaa/mm/dd">
                    </div>
                </div>
            </form>
            <button onclick="cerrarPopup('reservaPopup')" class="btn-edit">Reservar</button>
            <button onclick="cerrarPopup('reservaPopup')" class="btn-edit">Cancelar</button>
        </div>
    </div>
</body>
<script src="../explorar/script.js"></script>
</html>