<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!-- Menu para móvil -->
    <div id="hamburger" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Menu lateral -->
    <div id="lateral" class="lateral">
        <h2>CONSTRUCT <br> ZAF</h2>
        <ul id="menu">
            <li class="active"><img src="/imagenes/hogar.png"><a href="../explorar/index.html">Explorar</a></li>
            <li><img src="/imagenes/perfil.png"><a href="../reservas/index.html">Reservas</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="superior">
            <h1 id="tituloSuper">Catálogo</h1>
            <p><img src="/imagenes/usuario (1).png" id="user"> Cliente</p>
        </div> 
        <div id="dashboard"></div>
    </div>

    <!-- PopUp ver detalles -->
    <div class="popup" id="detallesPopup">
        <span class="cerrar" onclick="cerrarPopup('detallesPopup')">&times;</span>
        <div class="popup-contenido">
        </div>
    </div>

    <!-- PopUp reserva -->
    <div class="popups" id="reservaPopup">
        <div class="popups-contenido">
            <span class="cerrars" onclick="cerrarPopup('reservaPopup')">&times;</span>
            <h3>Reservación</h3><br>
            <form>
                <div class="forms-row">
                    <div class="form-groups-id">
                        <label for="id">Fecha de reservación</label>
                        <input type="date" id="id-editar" placeholder="ID">
                    </div>
                </div>
                <div class="forms-row">
                    <div class="form-groups">
                        <label for="nombre">Fecha de entrega</label>
                        <input type="date" id="nombre-editar" placeholder="Nombre">
                    </div>
                </div>
                <div class="forms-row">
                    <div class="form-group">
                        <label for="apellido">Cantidad a reservar</label>
                        <input type="text" id="apellido-editar">
                    </div>
                </div>
            </form>
            <button onclick="cerrarPopup('reservaPopup')" class="btn-edit">Reservar</button>
            <button onclick="cerrarPopup('reservaPopup')" class="btn-edit">Cancelar</button>
        </div>
    </div>
</body>
<script src="./script.js"></script>
</html>