<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="../users/style.css">
</head>

<body>
    <!-- Munu para móvil -->
    <div id="hamburger" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Menu lateral -->
    <div id="lateral" class="lateral">
        <h2>CONSTRUCT <br> ZAF</h2>
        <ul id="menu">
            <li><img src="../../imagenes/hogar.png"><a href="../../admin/home/index.html">Inicio</a></li>
            <li class="active"><img src="/imagenes/perfil.png"><a href="../../admin/users/index.html">Usuarios</a></li>
            <li><img src="../../imagenes/acuerdo.png"><a href="../../admin/rental/index.html">Alquileres</a></li>
            <li><img src="../../imagenes/listas-de-control.png"><a href="../../admin/payments/index.html">Pagos</a></li>
            <li><img src="../../imagenes/diagrama.png"><a href="../../admin/reports/index.html">Reportes</a></li>
        </ul>
    </div>

    <!-- Contenido  -->
    <div class="content">
        <div class="superior">
            <div class="buscador">
                <img id="busca" src="../../imagenes/buscar.png">
                <input id="search-item" class="buscar" type="text" placeholder="Buscar" onkeyup="search()">
            </div>
            <p><img src="../../imagenes/usuario (1).png" id="user"> Administrador</p>
        </div> 
        
        <h2 class="title-usuarios"> Gestion de usuarios</h2>

        <!-- tabla de informacion de todos los users -->
        <div class="table-container">
            <table id="miTabla">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>cedula</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Fecha Registro</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tbody id="miTabla-user"></tbody>
            </table>
        </div>

        <div class="btn-actions">
            <button onclick="abrirPopup('editarPopup')" class="btn-edit">Editar</button>
            <button onclick="abrirPopup('eliminarPopup')" class="btn-delete">Eliminar</button>
            <button onclick="abrirPopup('crearPopup')" class="btn-crear">Crear</button>
        </div>

        <!-- Popup Crear Usuarios -->
        <div class="popup" id="crearPopup">
            <div class="popup-contenido">
                <span class="cerrar" onclick="cerrarPopup('crearPopup')">&times;</span>
                <h2 id="titulo">Crear nuevo usuario</h2>
                <form id="form-crear-user">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre-crear" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido-crear" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" id="correo-crear" placeholder="Correo">
                        </div>
                        <div class="form-group">
                            <label for="fecha-ingreso">Fecha de ingreso</label>
                            <input type="date" id="fecha-ingreso-crear" placeholder="Fecha de ingreso">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="telefono">Teléfono</label>
                            <input type="tel" id="telefono-crear" placeholder="Teléfono">
                        </div>
                        <div class="form-group">
                            <label for="cedula">Cédula</label>
                            <input type="text" id="cedula-crear" placeholder="Cédula">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="rol">Rol</label>
                            <select id="rol-crear" name="rol">
                                <option value="">Seleccione un rol</option>
                                <option value="admin">Administrador</option>
                                <option value="proveedor">Proveedor</option>
                                <option value="cliente">Cliente</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username-crear" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" id="contrasena-crear" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="botones">
                        <button type="submit" class="btn-amarillo">Crear</button>
                        <button type="button" class="btn-gris" onclick="cerrarPopup('crearPopup')">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- PopUp editar usuario -->
        <div class="popup" id="editarPopup">
            <div class="popup-contenido">
                <span class="cerrar" onclick="cerrarPopup('editarPopup')">&times;</span>
                <h2 id="titulo">Editar usuario</h2>
                <form>
                    <div class="form-row">
                        <div class="form-group-id">
                            <label for="id">ID</label>
                            <input type="text" id="id-editar" placeholder="ID">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre-editar" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido-editar" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="email" id="correo-editar" placeholder="Correo">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Teléfono</label>
                            <input type="tel" id="telefono-editar" placeholder="Teléfono">
                        </div>
                    </div>
                    <div class="botones">
                        <button type="submit" class="btn-amarillo">Editar</button>
                        <button type="button" class="btn-gris" onclick="cerrarPopup('editarPopup')">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- PopUp Eliminar Usuario -->
        <div class="popup" id="eliminarPopup">
            <div class="popup-contenido">
                <span class="cerrar" onclick="cerrarPopup('eliminarPopup')">&times;</span>
                <h2 id="titulo">Eliminar usuario</h2>
                <form>
                    <div class="form-row">
                        <div class="form-group-id">
                            <label for="id-eliminar">ID</label>
                            <input type="text" id="id-eliminar" placeholder="ID">
                        </div>
                    </div>
                    <div class="botones">
                        <button type="submit" class="btn-amarillo">Eliminar</button>
                        <button type="button" class="btn-gris" onclick="cerrarPopup('eliminarPopup')">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

<script src="script.js"></script>
</body>

</html>