<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Menu para móvil -->
    <div id="hamburger" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Menu lateral -->
    <div id="lateral" class="lateral">
        <h2>CONSTRUCT <br> ZAF</h2>
        <ul id="menu">
            <li><img src="/imagenes/hogar.png"><a href="../explorar/index.html">Explorar</a></li>
            <li class="active"><img src="/imagenes/perfil.png"><a href="../reservas/index.html">Reservas</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="superior">
            <h1 id="tituloSuper">Reservas</h1>
            <p><img src="/imagenes/usuario (1).png" id="user"> Cliente</p>
        </div> 
        <!--
        <div class="dashboard">
            <div class="card">
                <img id="image" src="/imagenes/Mezcladora.png" alt="">
                <h3>Mezcladora de concreto</h3>
                <p>2025-09-11</p>
            </div>
            <div class="card">
                <img id="image" src="/imagenes/Mezcladora.png" alt="">
                <h3>Mezcladora de concreto</h3>
                <p>2025-09-11</p>
            </div>
            <div class="card">
                <img id="image" src="/imagenes/Mezcladora.png" alt="">
                <h3>Mezcladora de concreto</h3>
                <p>2025-09-11</p>
            </div>
            <div class="card">
                <img id="image" src="/imagenes/Mezcladora.png" alt="">
                <h3>Mezcladora de concreto</h3>
                <p>2025-09-11</p>
            </div>
        </div>
        -->
    </div>
</body>
<script src="./script.js"></script>
</html>