<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../reservas/style.css">
</head>
<body>
    <!-- Menu para móvil -->
    <div id="hamburger" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Menu lateral -->
    <div id="lateral" class="lateral">
        <h2>CONSTRUCT <br> ZAF</h2>
        <ul id="menu">
            <li><img src="../../imagenes/hogar.png"><a href="../explorar/index.html">Explorar</a></li>
            <li class="active"><img src="../../imagenes/perfil.png"><a href="../reservas/index.html">Reservas</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="superior">
            <h1 id="tituloSuper">Reservas</h1>
            <div class="userMenu">
                <div id="userName" class="userName">
                    <img src="../../imagenes/usuario (1).png" id="user"> Cliente
                </div>
                <div id="user-menu" class="user-menu">
                    <a href="../../Login/index.html">Cerrar Sesión</a>
                </div>
            </div>
        </div> 
        
        <div id="dashboard"></div>
    </div>
</body>
<script src="../reservas/script.js"></script>
</html>